{%extends 'base.html'%}
{%load static%}
{%block 'title'%}Registrarse{%endblock%}
{%block 'main'%}
<div class="row">
    <form class="col s12" action="{% url 'Home:signup' %}" method="POST">
        {%csrf_token%}
        <div class="row">
            <div class="input-field col s6">
                <input name="first_name" id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input name="last_name" id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="username" type="text" id="username" class="validate">
                <label for="username">Nombre de usuario</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="password" id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="email" id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <input type="submit" name="" value="Enviar">
    </form>
</div>
{%endblock %}
