{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block 'title' %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">BLog backend</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
                <li><b>Hola {{user.username}}</b></li>
                <li><a href="#">Mi perfil</a></li>
                <li><a href="{% url 'Publicaciones:index'%}">Publicaciones</a></li>
                <li><a href="{% url 'Home:logout'%}">Cerrar Sesión</a></li>
            {% else %}
                <li><a href="{% url 'Home:signup'%}">Sign up</a></li>
                <li><a href="{% url 'Home:login' %}">Sign in</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>
    {% block 'main'%}
    {% endblock%}
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
